.pitch-background {
    background: url("https://fantasy.premierleague.com/static/media/pitch-default.dab51b01.svg")center top / 825px 660px no-repeat;
    ;
    height: 100vh;
    width: 850px;
    height: 850px;
    background-color: aquamarine;
    position: relative;

}

.free-space {

    width: 70px;
    height: 99px;
    background-color: transparent
}

.goalkeeer-card {
    width: 150px;
    height: 99px;
    background-color: transparent;
    border: none
}

.defender {
    width: 70px;
    height: 99px;
    background-color: transparent
}

.midfelder {
    width: 70px;
    height: 99px;
    background-color: transparent
}

.striker {
    width: 70px;
    height: 99px;
    background-color: transparent
}

.row-one {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 175px;
    top: 20px
}

.row-two {
    width: 550px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 110px;
    top: 150px;
    gap: 80px;

}

.row-three {
    width: 550px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 150px;
    top: 280px;
    gap: 10px;
}

.row-four {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 135px;
    top: 410px;
}
.row-five{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 165px;
    top: 690px;
    gap:10px
}

.container {
    display: flex;
}

.players-container {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}


table tbody tr:hover {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 37%, rgba(148, 187, 233, 1) 100%);
}

.player-name-container {
    background-color: #37003c;
    color: #FFFFFF;
    width: 150px;
}

table td {
    font-weight: 600;
    font-size: 18px;
}

.header-data {
    background-image: linear-gradient(to right, rgb(0, 255, 135), rgb(2, 239, 255));
    font-size: 19px;
    border-radius: 5px;
    width: fit-content;
    padding: 3px 5px;
    font-weight: 700;

}

table td:hover {
    cursor: pointer;
}

